# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
public/style.css
public/*.map

# TS
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
