header {
  background-color: #343a40;
  color: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  z-index: 1;
}
header i {
  font-size: 24px;
  cursor: pointer;
}

.side-menu {
  background-color: #f8f9fa;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  overflow: hidden;
  transition: width 0.3s ease;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  padding-top: 80px;
}
.side-menu.open {
  width: 250px;
}

.sidebar-nav {
  list-style: none;
  padding: 20px;
}
.sidebar-nav li {
  margin-bottom: 15px;
}

main {
  padding-top: 80px;
}
